@font-face {
  font-family: 'Star-Guard';
  src: url(../fonts/starguard.ttf) format("truetype");
}
body{
    margin: 0;
    background-image: url("{% static 'images/Frame-14859.png' %}");
    background-size: 100% 900%;
}


/* ////////////////////////////////////////////////// CSS for navbar starts */

*{
    padding: 0;
    margin: 0;
}

      
/* ///////////////////////////////////////////////////// CSS for navbar ends here */

/* .alcherLogo{
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
  margin-top: 5%;
}
.alcherLogo img{
  margin-left: auto;
  margin-right: auto;
} */
.passPortalContent{
    margin-bottom: 5vw;
}
.passImg{
  display: block;
}
.exclusivePass{
     margin-top: 5vh;
     display: flex;
     justify-content: center;
     position: relative;
 }
 #confirmbtn{
  display: flex;
  flex-direction: row;
  background: #f35c41;
  border: 2px solid #1a1a1a;
  border-radius: 5vw;
  color: #ffffff;
align-items: center;
  font-size:2vh;
  font-weight: 700;
  justify-content: center;

  width: 30%;
  box-shadow: 3px 3px 0px #1a1a1a;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-top: 4vh;
 }
 .exclusivePassInnerDiv{
  position: relative;
 }
 .premiumPassInnerDiv{
  position: relative;
 }
 .creatorsCampInnerDiv{
  position: relative;
 }
 .entryPassInnerDiv{
  position: relative;
 }
 .bookNowBtnDesktop img{
  position: absolute;
  width: 13.2%;
  height: 14%;
  right: 3.5%;
  bottom: 13%;
}
/* .random:hover{
  transform: translate(2%,2%);
  transition-duration: 0.3s;
} */
 .getYourPasses{
    display:none ;
 }
 .getYourPasses img{
        width: 100%;
        height: 100%;
    
 }
 #exclusivePassImg{
     width: 60vw;
 }
 #premiumPassImg{
    width: 60vw;
 }
 #creatorsCampImg{
  width: 60vw;
 }
 #entryPassImg{
  width: 60vw;
 }
 .premiumPass{
     margin-top: 1.5vh;
     /* margin-bottom: 40vh; */
     display: flex;
     justify-content: center;
 }
 .creatorsCamp{
  margin-top: 1.5vh;
  /* margin-bottom: 40vh; */
  display: flex;
  justify-content: center;
}
 .entryPass{
  margin-top: 1.5vh;
  margin-bottom: 20vh;
  display: flex;
  justify-content: center;
 }
 .manageBookingBtn {
    display: none;
 }
 .mobileContentImg{
    display: none;

 }

 

 @media screen and (max-width:800px) {
    /* body{
      background-image: url("../images/Android Large - 3.png");
      /* background-repeat: no-repeat; */
    /* } */
    .exclusivePass{
   display: none;
    }
    .premiumPass{
        display: none;
    }
    .creatorsCamp{
      display: none;
    }
    .entryPass{
      display: none;
    }
    .getYourPasses{
      display:block ;
   }
    .mobileContent{
        display: flex;
        flex-direction: column;
    }
    .mobileContentImg{
        display: flex;
        flex-direction: column;
     }
     .mobImg{
        margin-left: auto;
        margin-right: auto;
        margin-top: 2.5vh;
        margin-bottom: 2.5vh;
        position: relative;
     }
     .manageBookingBtn {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3vh;
        margin-bottom: 2vh;
     }
    .mobImgInnerDiv{
        position: relative;
    }
    .bookNowBtn img{
        position: absolute;
        width: 32%;
        height: 7%;
        right: 9%;
        bottom: 8.2%;
    }
    .bookTicketsBtn img{
        position: absolute;
        width: 32%;
        height: 7%;
        right: 9%;
        bottom: 8.2%;
    }
 }
 
    
/* /////////////////////////////// CSS for footer starts here */
/* footer */
@import url('https://fonts.cdnfonts.com/css/aileron');

