<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration | Alcheringa</title>
    <style>
      body{
          background-image: url('/static/images/Frame-14859.png'),default!important;
      }
      .mobnavbg{
          background-image: url('/static/images/Frame-14859.png'),default!important;
      }
  </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <link rel="stylesheet" href="{% static 'css/comingsoon.css' %}" />
    <link rel="stylesheet" href="{% static 'css/navbarTemplate.css' %}" />

  </head>

<style>
  body{
    overflow-x: hidden;
  }
</style>
  <body>
    {% include 'main/navbar.html' %}
    <!-- /////////// code for navbar ends here -->

    <!-- <div class="alcherLogo">
    <img src="{% static 'images/{% static alcher 2023 logo.png" alt="">
</div> -->
<div class="Coming-soon">

    <div class="coming-soon-text">
        <img src="{% static 'images/comingsoon.png'%}" alt="t"/>
    </div>
    <div class="coming-soon-monster">
    <img src="{% static 'images/monster.png'%}" alt="t"/>
    
    </div>
    </div>


    <!-- /////////////////////////////////////////////////////////// -->
    <!-- Footer code starts here  -->


      {% include 'main/footer.html' %}

      <!-- Footer code ends here  -->
      <script src="{% static 'js/scriptPassPortal.js' %}"></script>
      <script src="{% static 'js/script.js'%}"></script>
    </div>
  </body>
</html>
