{% load static %}
<link rel="stylesheet"
href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<link rel="stylesheet"
href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<div class="footer_desk" style="position:relative ; top:5vw;">
    <div class="logo_mob">

          <img src="{% static 'images/yellow_stone.png' %}" class="yellow">
        <img src="{% static 'images/red_stone.png' %}" class="red">
        <div class='hail'>HAIL <br> ALCHER!</div>
                <img src="{% static 'images/green_stone.png' %}" class="green">
                <img src="{% static 'images/violet_stone.png' %}" class="violet">
    </div>
    <div>
      <div class="footer_main">
        <div class="options">
          <ul type="none">
            <li>
              <a href="/Events">EVENTS</a>
            </li>
            <li>
              <a href="/Merch">MERCH</a>
            </li>
            <li>
              <a href="/Campaigns">CAMPAIGNS</a>
            </li>
            <li>
              <a href="/Teams">TEAMS</a>
            </li>
            
            <li>
              <a href="/Sponsors">SPONSORS</a>
            </li>
            <li>
              <a href="/Contests">CONTESTS</a>
            </li>
          </ul>
        </div>
        <div class="logo">
          <!-- <HailAlcher /> -->
                    <!-- Hail Alcher Starts  -->

                    <img src="{% static 'images/yellow_stone.png' %}" class="yellow">
                    <img src="{% static 'images/red_stone.png' %}" class="red">
                    <div class='hail'>HAIL <br> ALCHER!</div>
                            <img src="{% static 'images/green_stone.png' %}" class="green">
                            <img src="{% static 'images/violet_stone.png' %}" class="violet">
                  <!-- Hail Alcher Ends  -->
        </div>
        <div class="details_main">
          <div class="details">
            <div class="contact">
              <div class="shareka">
                <b>Siddhant Singh</b>
                PR Head<br>
                +91 9310859978
              </div>
              <br>
              <div class="abhi">
                <b>Danda Akshara</b>
                PR Head<br>
                +91 9908991939
              </div>
            </div>
          </div>
          <div class="socials_mob">
            <a
              class="insta"
              href="https://www.instagram.com/alcheringaiitg/"
            >
              <!-- <Insta2 /> -->
              <img src="{% static '/images/insta2.svg'%}"/>
            </a>
            <a
              class="face"
              href="https://www.facebook.com/alcheringaiitg"
            >
              <!-- <Facebook2 /> -->
              <img src="{% static 'images/facebook2.svg'%}"/>
            </a>
            <a class="tweet" href="https://twitter.com/alcheringaiitg">
              <!-- <Twitter2 /> -->
              <img src="{% static 'images/twitter2.svg'%}"/>
            </a>
            <a
              class="youtube"
              href="https://www.youtube.com/@alcheringaIITG"
            >
              <!-- <Youtube2 /> -->
              <img src="{% static 'images/utube2.svg'%}"/>
            </a>
          </div>
        </div>
      </div>
      <div class="footer_bottom">
        <div>
          <a href="/">
            <img class="footer_logo"src="{% static 'images/LogoFooter.svg'%}"/>
          </a>
        </div>
        <div class="socialIcon">
          <div class="socials_desk">
            <a
              class="insta"
              href="https://www.instagram.com/alcheringaiitg/"
            >
              <img src="{% static 'images/insta.svg'%}"/>
            </a>
            <a
              class="face"
              href="https://www.facebook.com/alcheringaiitg"
            >
              <img src="{% static 'images/facebook.svg'%}"/>
            </a>
            <a class="tweet" href="https://twitter.com/alcheringaiitg">
              <img src="{% static 'images/twitter.svg'%}"/>
            </a>
            <a
              class="youtube"
              href="https://www.youtube.com/@alcheringaIITG"
            >
              <img src="{% static 'images/utube.svg'%}"/>
            </a>
          </div>
          <div class="inqueries">
            <span style="font-weight: 200;">For Business Enqueries:</span>
            <span style="font-weight: 600">alcheringa@iitg.ac.in</span>
          </div>
        </div>
      </div>
    </div>
  </div>