<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration | Alcheringa</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <link rel="stylesheet" href="{% static 'css/passPortal.css' %}" />
    <link rel="stylesheet" href="{% static 'css/navbarTemplate.css' %}" />
  </head>

  <style>
    body {
      overflow-x: hidden;
    }
  </style>
  <body>
    {% include 'main/navbar.html' %}
    <!-- /////////// code for navbar ends here -->

    <!-- <div class="alcherLogo">
    <img src="{% static 'images/{% static alcher 2023 logo.png" alt="">
</div> -->

    <div class="passPortalContent">
      <div class="exclusivePass">
        <div
          class="exclusivePassInnerDiv"
          onclick="window.location.href=`{% url 'send_otp' %}`"
        >
          <img
            id="exclusivePassImg"
            src="{% static 'images/ExclusivePass.png' %}"
            alt=""
            style="cursor: pointer"
          />
          <div class="bookNowBtnDesktop">
            <a href="{% url 'send_otp' %}"
              ><img src="{% static 'images/Frame 14711.png' %}" alt=""
            /></a>
          </div>
        </div>
      </div>
      <!-- /////////////////////////////// -->
      <!-- <div class="premiumPass">
        <div class="premiumPassInnerDiv">
           <img id="premiumPassImg" src="{% static 'images/Premium Pass.png' %}" alt="" />
           <div class="bookNowBtnDesktop">
           <a href="./form desktop/Pass Portal/form_desktop.html" target="_blank"><img class="random" src="{% static 'images/Frame 14711.png' %}" alt=""></a>
           </div>
        </div>
      </div> -->
      <!-- ///////////////////////////////////// -->
      <!-- <div class="creatorsCamp">
  <div class="creatorsCampInnerDiv">
     <img id="creatorsCampImg" src="{% static 'images/Creatorss_Camp.png' %}" alt="" />
     <div class="bookNowBtnDesktop">
     <a href="./form desktop/Pass Portal/form_desktop.html" target="_blank"><img class="random" src="{% static 'images/Frame 14711.png' %}" alt=""></a>
     </div>
  </div>
</div> -->
      <!-- ////////////////////////////////////// -->
      <!-- <div class="entryPass">
  <div class="entryPassInnerDiv">
     <img id="entryPassImg" src="{% static 'images/entrypass.png' %}" alt="" />
     <div class="bookNowBtnDesktop">
     <a href="./form desktop/Pass Portal/form_desktop.html" target="_blank"><img class="random" src="{% static 'images/imagesFrame 14711.png' %}" alt=""></a>
     </div>
  </div>
</div> -->
      <!-- /////////////////////////////////////// -->
      <div class="mobileContent">
        <div class="getYourPasses">
          <img src="{% static 'images/Group 541.png' %}" alt="" />
        </div>
        <div class="manageBookingBtn">
          <a href="{% url 'manage_booking' %}"><img src="{% static 'images/Group 232.png' %}" alt="" /></a>
        </div>
        <div class="mobileContentImg">
          <!-- /////////////////////////////////////////////// -->
          <!-- <div class="mobImg">
            <div class="mobImgInnerDiv">
              <img src="{% static 'images/Frame 14957.png' %}" alt="" />
              <div class="bookNowBtn">
                <a href="##"><img src="{% static 'images/Frame 14711.png' %}" alt="" /></a>
              </div>
            </div>
          </div> -->
          <!-- //////////////////////////////////////// -->
          <!-- <div class="mobImg">
            <div class="mobImgInnerDiv">
              <img src="{% static 'images/Frame 14972.png' %}" alt="" />
              <div class="bookTicketsBtn">
                <a href="##"><img src="{% static 'images/booktickets2.png' %}" alt="" /></a>
              </div>
            </div>
          </div> -->
          <!-- ///////////////////////////////////////////// -->
          <!-- <div class="mobImg"> <div class="mobImgInnerDiv">
            <img src="{% static 'images/Frame 14973.png' %}" alt="" />
            <div class="bookNowBtn">
              <a href="##"><img src="{% static 'images/Frame 14711.png' %}" alt="" /></a>
            </div>
          </div> -->
          <!-- //////////////////////////////////////////////////////// -->
          <div class="mobImg">
            <div
              class="mobImgInnerDiv"
              onclick="window.location.href=`{% url 'send_otp' %}`"
            >
              <img
                src="{% static 'images/Frame 149721.png' %}"
                alt=""
                style="cursor: pointer"
              />
              <div class="bookTicketsBtn">
                <a href="{% url 'send_otp' %}"
                  ><img src="{% static 'images/Frame 14711.png' %}" alt=""
                /></a>
              </div>
            </div>
            <!-- ///////////////////////////////////////////////////// -->
          </div>
        </div>
      </div>

      <!-- /////////////////////////////////////////////////////////// -->
      <!-- Footer code starts here  -->

      {% include 'main/footer.html' %}

      <!-- Footer code ends here  -->
      <script src="{% static 'js/scriptPassPortal.js' %}"></script>
      <script src="{% static 'js/script.js'%}"></script>
    </div>
  </body>
</html>
