<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alcheringa|Manage Booking</title>
    <link rel="stylesheet" href="{% static 'css/navbarTemplate.css' %}">
    <link rel="stylesheet" href="{% static 'css/manage.css'%}">
</head>
<body>
  {% include 'main/navbar.html'%}
  <form action="{% url 'verifiy_otp_manage_booking' %}" method="POST" class="otpFormmain">
      <div style="display:flex ; justify-content: center;gap: 7vw;">
          <div class="Pass-Alcher" style="display:flex ;flex-direction:column;">
                <div class="Pass">
                  <div class="email_verify_container">
                    <div class="vemail">VERIFY E-Mail ADDRESS</div>

                    <div class="vc1" style="display:flex">
                      <div>

                        <div class="ve1">E-Mail Address</div>
                        <div class="vcin">
                          <input type="email" class="vinput" name="email" />
                        {% comment %} <img class="vimg" id="email_submit" src="{% static 'images/GroupArrow.png' %}"/> {% endcomment %}
                        </div>
                      </div>
                      <div>
                        <div class="ve1">Pass ID</div>
                        <div class="vcin">
                          <input type="text" class="vinput passid" name="passid"style="width:11vw" />
                        <img class="vimg" id="email_submit" src="{% static 'images/GroupArrow.png' %}" onclick="send_ajax_request()"/>
                        </div>
                      </div>
                  </div>
                    <div class="vpara">
                      Please enter your e-mail ID. A one-time-passcode will be sent on the same to verify your E-Mail ID.
                    </div>
                  </div>
                  
                  <div class="blackdot">
                    <img src="{% static 'images/Blackdot.png' %}" alt="">
                  </div>
                            {% csrf_token %}
                    <div class="otpFormmain_div">
          
                      <div class="textOTP">ENTER OTP</div>
                      <div class="cntOTP">
                        <input class="inputOTP" type="number" name="otp" required>
                      </div>
                      <div class="p1">Please enter the four digit OTP, which has been sent to your registered e-mail address.</div>
                      <div class="p2">Please Enter E-mail First</div>
                      <button type="submit" class="proc">Proceed</button>
                    </div>
      
                </div>
            </div>
      </div>
  </form>

    {% include 'main/footer.html'%}


</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  document.getElementById('email_submit').addEventListener('click', ()=>{
    function validation(){
      var email = document.getElementsByName("email")[0].value;
    console.log(email)
    var emailReg = /^([A-Za-z0-9_\-.])+@/;
    if (!(email).match(emailReg)) {
      alert("Invalid Email");
      return false;
    } else {
      otp_sent = true;
      return true;
    }
    }
    if(validation()){
      const email_input = document.getElementsByName('email');
      const id_input = document.getElementsByName('passid');

      fetch("{% url 'managebooking'%}", {
          method: "POST",
          body: JSON.stringify({
            email: email_input[0].value,
            id:id_input[0].value,
          }),
          headers: {
            "Content-type": "application/json; charset=UTF-8"
          }
        })
  }
      document.getElementById('email_submit').disabled=true
      document.getElementsByClassName('p2')[0].innerHTML="OTP sent"
      document.getElementsByClassName('p2')[0].setAttribute('style','color:green;')
      const mailid=document.getElementsByName('email')[0]
      window.sessionStorage.setItem('hjhjihojgiorejteyi6y0iihj9i54ju9t54',mailid.value)
    })
</script>
</html>