{% load static %}
<style>
    body{
        background-image: url("{% static 'images/Frame-14859.png' %}")!important;
    }
    .mobnavbg{
        background-image: url("{% static 'images/Frame-14859.png' %}")!important;
    }
</style>
<div class='main'>
    <header class='navHeader '>
      <div style="margin-top: 1vh;"><a href="/"><img style="width: 15vw;" src="{% static 'images/Mask group.png' %}"
            class="alcherLogoo" alt=""></a></div>
      <nav class='NavigationBar' >
        <ul class='NavigationList' style="width:72vw"  >
          <li class="Events" id="Event" onclick="color()"><a href="https://alcheringa.in/Events/pt"><b>EVENTS</b></a></li>
          <li class="Merch"><a href="https://docs.google.com/forms/d/e/1FAIpQLSd4Mh1c6WQxDScxOD82A_rE2pNtdaKlzVru97X1Z8F7JdYVUQ/viewform"><b>MERCH</b></a></li>
          <li class='Campaigns'><a href="https://alcheringa.in/Campaigns"><b>CAMPAIGNS</b></a></li>
          <li class='Teams'><a href="https://alcheringa.in/Teams"><b>TEAMS</b></a></li>

          <li class='Sponsors'><a href="https://alcheringa.in/Sponsors"><b>SPONSORS</b></a></li>
          <li class="Contests"><a href="https://alcheringa.in/Contests/vn"><b>CONTESTS</b></a></li>
          <li class="manageBtn" style="width: 10vw;transform: scale(1.9);padding-left:2vw"><a href="{% url 'manage_booking' %}"  ><img src="{% static 'images/Group 232.png' %}" alt="" style="width: 70%; " /></a></li>
        </ul>
        
      </nav>

    </header>
  </div>


  <!-- material icons CDN in the head section, see the html settings 👆-->
  <div class="mobile">
    <div class="mobnavbg"><a href="/"><img src="{% static 'images/Mask group.png' %}" id="logomobile" width="150vw" alt=""></a></div>
    <ul class="menu mobileList">
      <li><a class="menuItem" href="https://alcheringa.in/Events/pt"><b>EVENTS</b></a></li>
      <li><a class="menuItem" href="https://docs.google.com/forms/d/e/1FAIpQLSd4Mh1c6WQxDScxOD82A_rE2pNtdaKlzVru97X1Z8F7JdYVUQ/viewform"><b>MERCH</b></a></li>
      <li><a class="menuItem" href="https://alcheringa.in/Campaigns"><b>CAMPAIGNS</b></a></li>
      <li><a class="menuItem" href="https://alcheringa.in/Teams"><b>TEAMS</b></a></li>
      <li><a class="menuItem" href="https://alcheringa.in/Sponsors"><b>SPONSORS</b></a></li>
      <li><a class="menuItem" href="https://alcheringa.in/Contests/vn"><b>CONTESTS</b></a></li>
      <li><a href="{% url 'manage_booking' %}"><img src="{% static 'images/Group 232.png' %}" alt="" /></a><li>

    </ul>
    <button class="hamburger">
      <!-- material icons https://material.io/resources/icons/ -->
      <i class="menuIcon material-symbols-outlined">menu</i>
      <!-- <i class="closeIcon material-symbols-outlined">close</i> -->
      <!-- <img src="{% static 'images/menu.png' %}" class="menuIcon" alt=""> -->
      <img src="{% static 'images/close.png' %}" class="closeIcon" alt="">

    </button>
  </div>