<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Registration | Alcheringa</title>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet" href="{% static 'css/passPortal.css' %}" />
  <link rel="stylesheet" href="{% static 'css/navbarTemplate.css' %}" />
  <link rel="stylesheet" href="{% static 'css/otpPage.css' %}" />
  <style>
    @media(max-width:700px) {
      .otpPage_box,.verify_container {
  box-shadow: 1.2px 0px 0px black;
}
      .otp_bookbtn {
        margin-left: 0px;
        padding: 1vw 8vw 1vw 8vw;
      }

      .form_otp_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .email_input {
        padding: 10px;
      }

      .otp_input {
        padding: 0vw 12vw 0vw 12vw;
      }
      .fwef{
      display: none;
    }
    }
    body {
      overflow-x: hidden;
    }
  </style>
</head>

<body>
  {% include 'main/navbar.html' %}
  <!-- /////////// code for navbar ends here -->

  <div class="passPortalContent">
      <div class="exclusivePass">
        <div
          class="exclusivePassInnerDiv"
        >
          <img
            id="exclusivePassImg"
            src="{% static 'images/ExclusivePass.png' %}"
            alt=""
            style="cursor: pointer"
          />
        
        </div>
      </div>
<div style="display:flex ; justify-content: center;gap: 7vw;">
    <div class="Pass-Alcher" style="display:flex ;flex-direction:column; width: 65%;">

          <div class="Pass">
            <div style="padding-left:2rem;padding-top:1rem; width:130%;">
              <div class="vemail">VERIFY E-Mail ADDRESS</div>
              <div class="vc1">
                  <div class="ve1">E-Mail Address</div>
                  <div class="vcin">
                    <input type="text" class="vinput">
                  <img class="vimg" id="email_submit" src="{% static 'images/GroupArrow.png' %}"/>
                  </div>
              </div>
              <div class="vpara">
                Please enter your e-mail ID. A one-time-passcode will be sent on the same to verify your E-Mail ID.
              </div>
            </div>
            
            <div class="blackdot">
              <img src="{% static 'images/Blackdot.png' %}" alt="">
            </div>
            <form action="{% url 'verify_otp'%}" method="POST">
                      {% csrf_token %}
              <div style="padding:5vh; display:flex;flex-direction:column; justify-content: space-between;align-items: center; width:75%;height:30vh;">
    
                <div class="textOTP">ENTER OTP</div>
                <div class="cntOTP">
                  <input class="inputOTP">
                  <img class="imgOTP" src="{% static 'images/GroupArrow.png' %}"/>
                </div>
                <div class="p1">Please enter the four digit OTP, which has been sent to your registered e-mail address.</div>
                <div class="p2">Please Enter E-mail First</div>
                <button type="submit" class="proc">Proceed</button>
                
              </div>
            </form>

          </div>
        
        

          

      </div>
    </div>

  {% comment %} <div class="otpPage_container">
    <div class="otp_header">Verify Email</div>

    <div class="otpPage_box">
      <img src="{% static 'images/Blackdot.png' %}" alt="" style="transform: translateX(73px);
      position: absolute;
      width: 2px;
      height: 76px;;" class="fwef">
      <div class="email_input_container">
        <div id="emailform">
          <label for="email">Enter Email</label>

          <div class="form_otp_container">
            <input type="email" class="email_input" name="email" autofocus style="padding-left: 10px;"/>
            <button type="button" class="otp_bookbtn" id="email_submit">
              <div class="booktextnav">Submit</div>
            </button>
          </div>
        </div>
      </div>
    </div>
      <div class="verify_container">
        <form action="{% url 'verify_otp'%}" method="POST">
          {% csrf_token %}
          <label for="otp1">Enter OTP</label>
          <div class="form_otp_container">
            <input type="number" maxlength="4" class="otp_input" name="otp1" required 
              style="margin-top:10px ;padding-left: 10px;" />
            <button type="submit" class="otp_bookbtn" style="margin-top:10px ;width: 8.5vw;">
              <div class="booktextnav">Verify</div>
            </button>
        </form>
      </div>
  </div>
  </div> {% endcomment %}
  <!-- /////////////////////////////////////////////////////////// -->
  <!-- Footer code starts here  -->
</div>
  {% include 'main/footer.html' %}

  <!-- Footer code ends here  -->
  <script src="{% static 'js/scriptPassPortal.js' %}"></script>
  <script src="{% static 'js/script.js'%}"></script>
  
  
</body>
<script>
  let otp_sent = false;
  document.getElementById('email_submit').addEventListener('click', (e) => { 
    function validation() {
      var email = document.getElementsByName("email")[0].value;
      console.log(email)
      var emailReg = /^([A-Za-z0-9_\-.])+@/;
      if (!(email).match(emailReg)) {
        alert("Invalid Email");
        return false;
      } else {
        otp_sent = true;
        return true;
      }
      }
      if(validation()){
        document.getElementsByClassName('verify_container')[0].setAttribute('style', "display:block;")
        fetch("{% url 'otp'%}", {
          method: "POST",
          body: JSON.stringify({
            email: document.getElementsByName('email')[0].value
          }),
          headers: {
            "Content-type": "application/json; charset=UTF-8"
          }
        })
        document.getElementById('email_submit').disabled=true
        const mailid=document.getElementsByName('email')[0]
        window.sessionStorage.setItem('hjhjihojgiorejteyi6y0iihj9i54ju9t54',mailid.value)
      }
    })

    document.body.addEventListener('keypress', (e)=>{
      console.log(e.key);
      if((e.key=="Enter")&&!otp_sent) {
        document.getElementById('email_submit').click();
      }
    })
</script>

</html>