<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" >
        <div>Email</div>
        <input type="email" >
        <div>Id</div>
        <input type="text" >
        <div id="send__otp">Send OTP</div>

        <div class="otp__input__and__buttom" style="display: none;">
            <div>OTP</div>
            <input type="number">
            <button type="submit">Submit Otp</button>
        </div>
    </form>
</body>
<script>
    const otp_div= document.getElementsByClassName('otp__input__and__buttom')[0]
    const send__otp = document.getElementById('send__otp')
    send__otp.addEventListener('click',()=>{
        otp_div.style.display='block';
          
    })
</script>
</html>