<html>
  <head>
    {% load static %}
    <link
      href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/passPortal.css' %}" />
    <link rel="stylesheet" href="{% static 'css/navbarTemplate.css' %}">
    <link rel="stylesheet" href="{% static 'css/Confirm_payment.css' %}">

  </head>
  <body>
    {% include 'main/navbar.html' %}
  
  <div class="loader-container">
    <div class="loader book">
      <figure class="page"></figure>
      <figure class="page"></figure>
      <figure class="page"></figure>  
    </div>
    <h4>Loading</h4>
  </div>
  {% include 'main/footer.html' %}

  </body>
  <script>
    const here___ = document.getElementById("linktodetails");
    const id = window.localStorage.getItem(
      "fasdlfsdaffdsui542958riuehwflu989aaSDAF"
    );
    const timeout__=setTimeout(()=>{
      window.location =
        "{% url 'get_verified_details' id='2UIRIAH8' %}".replace(
          "2UIRIAH8",
          id.toString()
        );
    },30000);
  </script>
</html>
